* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 12%;
    background: rgba(50, 50, 50, 1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.navbar-transparent {
    background: rgba(50, 50, 50, 0.9); 
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color:rgb(55, 136, 223);
    text-shadow: 0 0 25px rgb(55, 136, 223),
                 0 0 50px rgb(55, 136, 223);
    transform: scale(1.1);
}
span{
    color:rgb(55, 136, 223);
}

.nav-links {
    margin-left: auto; 
}

.nav-links a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 20px; 
    padding: 10px 0; 
    transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: rgb(55, 136, 223);
    border-bottom: 3px solid rgb(55, 136, 223);
}

#contactButton{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

#contactButton:hover{
    background-color: rgb(55, 136, 223);
    box-shadow: 0 0 25px rgb(55, 136, 223);
    color: white;
}

.home {
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content {
    max-width: 800px;
}

.home-content h3 {
    font-size: 42px;
    margin-top: 70px;
}   

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
    align-items: left;
    text-align: left;

}

.social-link {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    margin-left: 10px; 
    color: white;
    font-size: 20px; 
    transition: color 0.3s ease;
}

.social-link:hover {
    color: rgb(55, 136, 223); 
}

.interest-heading {
    color: rgb(55, 136, 223); 
}

.interests-section {
    text-align: center;
    padding: 50px 0;

  }

  .interests-section h2 {
    color:rgb(55, 136, 223); 
  }

  .interests-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .interest-item {
    max-width: 200px; 
    margin: 0 20px;
    padding: 20px;
    text-align: center;
  }
  
  .interest-item i {
    font-size: 40px; 
    margin-bottom: 20px;
    display: block; 
  }
  
  .interest-item h3 {
    margin-bottom: 10px;
  }
  
  .interest-item p {
    font-size: 16px;
    color: #666; 
  }
  
  .contact-me {
    padding: 50px 0;
    text-align: center;
    background: rgb(241, 241, 241);

  }
  
  .contact-me h2 {
    color: rgb(55, 136, 223);
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: center;
    ;
  }
  
  input,
  textarea {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: rgb(55, 136, 223);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #2c75b0;
  }

  .projects {
    padding: 50px 0;
    background: #f8f8f8; 
}

.projects h2 {
    color: rgb(55, 136, 223);
    text-align: center;
}

.projects h3{
    text-align: center;
}

.project-image h4, p{
    text-align: center;
    margin-top: 1rem;

}

.project-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr; 
    gap: 30px;
    margin-top: 2rem;
}

.project-item {
    background: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden; 
    width: 400px; 
    height: 500px; /
    margin: 20px; 

}

.project-item.large .project-image img {
    width: 100%; 
    margin: 0 auto; 
    display: block; 
    height: auto; 
    object-fit: cover; 
}

.project-item .project-image img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.project-item .project-details {
    padding: 1rem;
    text-align: left;
}

.project-item .project-details h3,
.project-item .project-details h4 {
    margin: 0.5rem 0;
    color: #333; 
}

@media screen and (min-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr); 
    }


    .project-grid .large {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}
